<%- include('../partials/header') %>

<ul>
  <a href="/skills/new">Add Another Skill</a>
  <% skills.forEach(function(t) { %>
    <li>
      <form action="/skills/<%= t.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>
      <a href="/skills/<%= t.id %>"><%= t.skill %></a>
      - 
      <%= t.done ? 'done' : 'not done' %>
    </li>
    <% }); %>
  </ul>
  
<%- include('../partials/footer') %>
